<h1><%= "Contagem regressiva para as férias !!! " %></h1>
<p>
	<%= "Faltam #{vacances_calendar.days} : #{vacances_calendar.hours} : #{vacances_calendar.minutes}" %>
</p>
<p>
	<%= "E um total de #{vacances_calendar.seconds} segundos"%>
</p>